* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(255, 136, 17, 0.3),
      rgba(244, 208, 111, 0.0)
    ),
    url(imagini/munte.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img {

  width: 120px;
  height: 100px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}
.logo {

 padding: left 100px;
  padding-top: 25px;

}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #ffffff;
  display: block;
  margin: auto;
  transition: 1s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1 {
  font-size: 62px;
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 21px;
  color: #fff;
}
.visit-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 22px 46px;
  font-size: 15px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.visit-btn:hover {
  border: 1px solid #066eb3;
  background-color: #ff8811bb;
  transition: 1s;
}

@media (max-width: 700px) {
  .text-box h1 {
    font-size: 20 px;
  }

  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    background: #ff8811bb;
    height: 100vh;
    width: 200 px;
    top: 0;
    right: 0;
    text-align: left;
    z-index: 2;
  }
}
/* course */
.course {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
h1 {
  font-size: 36px;
  font-weight: 600;
}
p {
  color: #777;
  font-size: 20px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.course-col {
  flex-basis: 31%;
  background: #dfe4f0;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 1s;
}
h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.course-col:hover {

  box-shadow: 0 0 20px 0px rgba(0, 0, 0.2);
}
@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}
/* -----team---*/
.team {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.team-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.team-col:hover{

box-shadow: 0 0 20px 0px rgba(0, 0, 0.2);
}
.team-col img {
  width: 100%;
  display: block;
}
/* facilities */

.facilities {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.facilities-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.facilities-col img {
  width: 100%;
  display: block;
}
.facilities-col:hover{

box-shadow: 0 0 20px 0px rgba(0, 0, 0.2);
}
.facilities-col p {
  padding: 0;
}
.facilities-col h3 {
  margin-top: 16px;
  margin-bottom: 15 px;
  text-align:center;
}
/* ___CALL TO ACTION___ */

.cta {

  margin: 100px auto;
  width:80%;
   background-image: url(/images/ceva.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}

.cta h1 {
  color: black;
  margin-bottom: 40px;
  padding: 0%;
}

@media (max-width: 700px) {
  .cta h1 {
    font-size: 24px;
  }
}
