<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UltimateSkiSchool</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;1,200&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="header">
      <nav>
        <a href="index.html">
          <img class="logo" src="/imagini/logo3.png" width="60" height="60" />
        </a>
        <div class="nav-links">
          <ul>
            <li>
              <a href="">HOME</a>
            </li>
           <li>
              <a href="/login" target="_self">LOGIN</a>
            </li>
            <li>
              <a href="">COURSES</a>
            </li>
            <li>
              <a href="">RENT EQUIPMENT</a>
            </li>
            <li>
              <a href="">OUR TEAM</a>
            </li>
            <li>
              <a href="">ABOUT</a>
            </li>
            <li>
              <a href="">CONTACT</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="text-box">
        <h1>ULTIMATE SKI SCHOOL</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur
          amet alias, delectus modi tenetur iure sed facilis quidem enim nisi
          <br />
          laudantium perspiciatis necessitatibus! Nulla soluta, illum aliquid
          blanditiis pariatur autem?
        </p>
        <p>
          <a 
            href="#VisitUs"
            target="_self"
            class="visit-btn"
            >Visit us to have fun</a
          >
        </p>
      </div>

    </section>

    <section class="course">
     <a id="VisitUs"></a> 
     <h1>Courses We Offer</h1>
      <p>Text .......................</p>
  
      <div class="row">
        <div class="course-col">
          <h3>Beginner</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit
            iusto ipsam, quia corrupti eius accusamus incidunt quis debitis in
            mollitia aliquam soluta deleniti, explicabo ipsum. Dolorum esse
            commodi tempore laborum?
          </p>
        </div>
        <div class="course-col">
          <h3>Intermediate</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit
            iusto ipsam, quia corrupti eius accusamus incidunt quis debitis in
            mollitia aliquam soluta deleniti, explicabo ipsum. Dolorum esse
            commodi tempore laborum?
          </p>
        </div>
        <div class="course-col">
          <h3>Pro</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit
            iusto ipsam, quia corrupti eius accusamus incidunt quis debitis in
            mollitia aliquam soluta deleniti, explicabo ipsum. Dolorum esse
            commodi tempore laborum?
          </p>
        </div>
      </div>
    </section>
  
    <section class="team">
      <!-- ---team------>
      <a href=""  target="_self" >Our team</a>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
      <div class="row">
        <div class="team-col">
          <img src="images/trainers.jpg" />
          <div class="layer">
            <h3>Our Team</h3>
          </div>
        </div>
        <div class="team-col">
          <img src="images/straja.jpg" />
          <div class="layer">
            <h3>Our Destination</h3>
          </div>
        </div>
        <div class="team-col">
          <img src="images/echipament.jpg" />
          <div class="layer">
            <h3>Our Equipment</h3>
          </div>
        </div>
      </div>
    </section>
    <!-- Facilitie -->

  <section class="team">
    <!-- ---team------>
    <h1>Facilities</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    <div class="row">
      <div class="facilities-col">
        <img src="images/sanie.jpg" />
        <div>
          <h3>Best sledges for kids</h3>
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A unde quam eos veritatis dicta iure dolorem
              voluptate quaerat sunt aspernatur commodi, amet rerum quasi quos ab consequuntur magni aut ipsum!</p>
          </div>
        </div>
      </div>
      <div class="facilities-col">
        <img src="images/snowboard.jpg" />
        <div>
          <h3>Best quality snowboard</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A unde quam eos veritatis dicta iure dolorem
            voluptate quaerat sunt aspernatur commodi, amet rerum quasi quos ab consequuntur magni aut ipsum!</p>
        </div>
      </div>
      <div class="facilities-col">
        <img src="images/schiuri.jpg" />
        <div>
          <h3>Best quality ski</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A unde quam eos veritatis dicta iure dolorem
            voluptate quaerat sunt aspernatur commodi, amet rerum quasi quos ab consequuntur magni aut ipsum!</p>
        </div>
      </div>
    </div>
  </section>

  <!-- _______Call to action____ -->

  <section class="cta">
    <h1>
      Contact us for more information and <br />
      registring to ours courses and for equipment rental
    </h1>
    <a href="" class="visit-btn"> CONTACT US</a>
  </section>
  </body>
</html>
