<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>UltimateSkiSchool</title>
    <link rel="stylesheet" href="/style.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;1,200&display=swap"
            rel="stylesheet"
    />
</head>
<body>
<section class="header">
    <nav>
        <a href="index.html">
            <img class="logo" src="imagini/Logo3.png" width="40" height="50"/>
        </a>
        <div class="nav-links">
            <ul>
                <li>
                    <a href="#HomeVisit" target="_self">HOME</a>

                </li>
                <li>
                    <a href="/login" target="_self">LOGIN</a>
                </li>
                <li>
                    <a href="http://localhost:8080/#HomeVisit">COURSES</a>
                </li>
                <li>
                    <a href="http://127.0.0.1:5500/resources/templates/our_equipment.html">RENT EQUIPMENT</a>
                </li>
                <li>
                    <a href="http://localhost:63342/finalProject/templates/our_team.html?_ijt=q5chihbud1d4dj4hda57a3ecno&_ij_reload=RELOAD_ON_SAVE">OUR
                        TEAM</a>
                </li>
                <li>
                    <a href="">ABOUT</a>
                </li>
                <li>
                    <a href="http://localhost:63342/finalProject/templates/contact.html?_ijt=fb75gc1mvdjkg0b4scsejag2e&_ij_reload=RELOAD_ON_SAVE"
                       target="_self">CONTACT</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="text-box">
        <h1>ULTIMATE SKI SCHOOL</h1>
        <p>
            Our school «Ultimate Ski» is committed to providing a safe and enjoyable learning experience.
            The instructors of our school will not only teach you how to ski, they will pass on their love and passion for winter sports.

        </p>
        <p>
            <a
                    href="#VisitUs"
                    target="_self"
                    class="visit-btn"
            >Visit us to have fun</a
            >
        </p>
    </div>

</section>

<section class="course">
    <a id="HomeVisit"></a>
    <a id="VisitUs"></a>
    <h1>Courses We Offer</h1>
    <p>«Ultimate Ski» offers a wide range of individual and group lessons,
        where you can choose a course according to your requirements.<br>
        Take the fast track in improving your skills on the mountain and have the ultimate learning experience.
        <br>Book Your Lessons Today!</p>

    <div class="row">
        <div class="course-col">
            <h3>Beginner</h3>
            <p>
                If you don’t have previous experience in alpine skiing, don't worry! We teach you the basics and you get to know the equipment.
                We practice how to fall down safely and getting up independently, sliding, turning and how to stop.
                Training will be held on flat and easy parts of the slope. You become familiar with ski lift and slope safety.
            </p>
        </div>
        <div class="course-col">
            <h3>Intermediate</h3>
            <p>
                You can ski easy slopes with snow plough turns and stop in a controlled manner.
                We develop confidence and speed in your skiing. The aim is to learn to parallel ski with controlled manner,
                to use different types of ski lifts and taking steps to more demanding slopes.
            </p>
        </div>
        <div class="course-col">
            <h3>Pro</h3>
            <p>
                You can ski all types of slopes in a controllable manner and with good speed.
                We train different turning techniques on wider variety of slopes and snow conditions.
                According to the participant’ preferences, we can learn different slope tricks and get a taste of freestyle skiing in park.
                The aim is to become a versatile skier and to expand your skiing skills.
            </p>
        </div>
    </div>
</section>

<section class="team">
    <!-- ---team------>
    <h1>Our Services</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    <div class="row">
        <div class="team-col">
            <a href="http://localhost:63342/finalProject/templates/our_team.html?_ijt=q5chihbud1d4dj4hda57a3ecno&_ij_reload=RELOAD_ON_SAVE">
                <img src="images/trainers.jpg"/></a>
            <div class="layer">
                <h3>Our Team</h3>
            </div>
        </div>
        <div class="team-col">
            <img src="images/straja.jpg"/>
            <div class="layer">
                <h3>Our Destination</h3>
            </div>
        </div>
        <div class="team-col">
            <img src="images/echipament.jpg"/>
            <div class="layer">
                <h3>Our Equipment</h3>
            </div>
        </div>
    </div>
</section>
<!-- Facilities -->

<section class="team">
    <!-- ---team------>
    <h1>Facilities</h1>
    <p>Poiana Brasov is a top destination for winter sports enthusiasts with more than 2,000 km of pistes,
        more than 70 winter sports resorts, 30 snowparks, 22 ski regions and 110 toboggan runs – as well as countless
        rustic huts and modern mountain restaurants.</p>
    <div class="row">

        <div class="facilities-col">
            <img src="images/sanie.jpg"/>
            <div>
                <h3>Best sledges for kids</h3>
                <div>
                    <p>scrie cv</p>
                </div>

            </div>
        </div>
        <div class="facilities-col">

            <img src="images/snowboard.jpg"/>
            <div>
                <h3>Best quality snowboard</h3>
                <p>scrie cv</p>
            </div>

        </div>
        <div class="facilities-col">

            <img src="images/schiuri.jpg"/>
            <div>
                <h3>Best quality ski</h3>
                <p>scrie cv</p>
            </div>
        </div>

    </div>
</section>

<!-- _______Call to action____ -->

<section class="cta">
    <h1>
        Contact us for more information
    </h1>
    <a href="http://localhost:63342/finalProject/templates/contact.html?_ijt=fb75gc1mvdjkg0b4scsejag2e&_ij_reload=RELOAD_ON_SAVE"
       target="_self" class="visit-btn"> CONTACT US</a>
</section>
</body>
</html>
