<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
</head>
<body>

<div>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Experience</th>
            <th>Certifications</th>
            <th>Description</th>
            <th>Known Languages</th>
            <th>Photo</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="instructor: ${instructorsList}">
            <td th:text="${instructor.id}"></td>
            <td th:text="${instructor.name}"></td>
            <td th:text="${instructor.phoneNumber}"></td>
            <td th:text="${instructor.experience}"></td>
            <td th:text="${instructor.certifications}"></td>
            <td th:text="${instructor.description}"></td>
            <td th:text="${instructor.languages}"></td>
            <td ><img th:src="@{'data:image/jpeg;base64,'+${instructor.photoBase64}}" height="60"/></td>

            <td><a th:href="@{/instructor/update/{id}(id=${instructor.id})}">Update</a>
                <a th:href="@{/instructor/delete/{id}(id=${instructor.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/instructor/create}">Add new instructor</a>

</div>

</body>
</html>