<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Instructor's page</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
</head>
<body>
<div class="container my-5">
    <div class="row">
        <form method="post" th:action="@{/specialization/}" th:object="${formObject}">
            <div class="row">
                <div class="from-group col-md-6">
                    <label for="id">ID</label>
                    <input id="id" hidden type="text" placeholder="Enter specialization's id" th:field="*{id}">
                </div>
                <div class="from-group col-md-6">
                    <label for="name">Name</label>
                    <input id="name" type="text" th:field="*{name}">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6" >
                    <button type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>